# .env.example
CLIENT_ID=your_spotify_client_id_here
CLIENT_SECRET=your_spotify_client_secret_here
REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_CSV_PATH=C:/Users/name/Downloads/Liked_Songs.csv
SPOTIFY_EXPORT_PATH=C:/Users/name/Downloads/Liked_Songs_export.csv
PLAYLIST_NAME=My CSV Playlist

#type `export` for windows before putting in terminal (if using terminal instead of making env file)
